---
import 'rehype-callouts/theme/obsidian';

import type { MarkdownHeading } from 'astro';

import Giscus from '@/components/Giscus.astro';
import gridStyles from '@/styles/grid.module.css';

interface Props {
  title: string;
  subtitle?: string;
  headings?: MarkdownHeading[];
  image?: string;
  id: string;
}
const { title, subtitle, id } = Astro.props;
---

<article class="relative flex min-h-screen flex-col items-center pt-36">
  <div class="mb-8 px-8">
    <h1 class="pb-4 text-center text-6xl font-semibold" transition:name={id}>{title}</h1>
    {subtitle && <h2 class="text-center text-2xl font-light italic">{subtitle}</h2>}
  </div>
  <div class:list={[gridStyles.articleGrid, `articleGridDual bg-bkg/90 mt-28 w-full grow gap-2 rounded-t-2xl px-2 pb-16`]}>
    <div
      class={`max-w-full prose prose-slate ${gridStyles.articleContent} p-4 transition-colors dark:prose-invert prose-h1:mb-4 prose-h1:mt-8 prose-p:mt-0 prose-code:font-[var(--font-neon)] md:px-12`}
    >
      <slot />
    </div>
    <div class:list={[`flex justify-center pt-16`, gridStyles.articleWide]}>
      <div class="w-[56rem]">
        <Giscus />
      </div>
    </div>
  </div>
</article>

<style is:global>
  .articleGridDual .prose section {
    position: relative;
  }

  @media (min-width: 768px) {
    .articleGridDual {
      display: grid;
      grid-template-columns: [wide-start] 1fr [content-start] minmax(0, 112.5rem) [content-end] 1fr [wide-end];
      grid-gap: 0.5rem;
    }

    .articleGridDual .prose section {
      display: grid;
      grid-template-columns: [content-start] minmax(0, 56rem) [content-end aside-start] minmax(0, 56rem) [aside-end];
      grid-gap: 0.5rem;
    }

    .articleGridDual .prose section > *:not(.aside) {
      grid-column: content-start / content-end;
    }

    .articleGridDual .prose section .aside-tall {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 20px;
      grid-column: aside-start / aside-end;
    }
  }
</style>
