.articleGrid {
  display: block;
  position: relative;
}

.articleWide {
  grid-column: wide-start / wide-end;
}

.articleContent {
  grid-column: content-start / content-end;
}

.articleDualAside {
  position: absolute;
  left: 50%;
  max-width: 56rem;
  width: calc(50% - 2rem);
  top: 0;
  bottom: 0;
}

.articleToc {
  display: none;
}

@media (min-width: 768px) {
  .articleGrid {
    display: grid;
    grid-template-columns: [wide-start] 1fr [content-start] minmax(0, 50rem) [content-end toc-start] minmax(5rem, 20rem) [toc-end] 1fr [wide-end];
    grid-gap: 0.5rem;
  }

  .articleToc {
    display: block;
    grid-column: toc-start / toc-end;
  }
}
