---
import type { MarkdownHeading } from 'astro';

interface Props {
  class?: string;
  headings: MarkdownHeading[];
}

const { class: className, headings, ...rest } = Astro.props;
---

<nav class:list={['scrollspy top-20 m-4 self-baseline transition-colors md:sticky md:m-6', className]} {...rest}>
  <ul class="flex flex-col">
    {
      headings.map(({ depth, text, slug }, index) => (
        <li
          class:list={[{ 'mt-2': depth === 1, 'pl-4 text-sm': depth === 2, 'pl-8 text-xs': depth === 3, 'pl-12 text-xs': depth === 4 }, 'relative']}
        >
          <a href={`#${slug}`}>
            <div
              class:list={[
                { 'top-0': index === 0 || depth !== 1, '-top-2': index !== 0 && depth === 1 },
                'bg-accent absolute bottom-0 -left-4 w-[2px]'
              ]}
            />
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import scrollSpy from 'simple-scrollspy';
  scrollSpy('.scrollspy', {
    sectionClass: 'section[id]',
    offset: 400
  });
</script>

<style is:global>
  nav.scrollspy ul li a {
    opacity: 0.5;
    transition: opacity 0.2s;
    &.active {
      opacity: 1;
    }
  }
</style>
